eSAWA_Indi_eSAWA_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
eSAWA_Indi_eSAWA_MA_Method={{ ma_method | default(0) }}
eSAWA_Indi_eSAWA_Period={{ period | default(4) }}
eSAWA_Indi_eSAWA_Shift={{ shift | default(0) }}
eSAWA_LotSize={{ lot_size | default(0) }}
eSAWA_PriceStopLevel,1=10
eSAWA_PriceStopLevel,2=5
eSAWA_PriceStopLevel,3=40
eSAWA_PriceStopLevel,F=1
eSAWA_PriceStopLevel={{ price_stop_level | default(0) }}
eSAWA_PriceStopMethod={{ price_stop_method | default(0) }}
eSAWA_SignalCloseLevel={{ signal_close_level | default(0) }}
eSAWA_SignalCloseMethod={{ signal_close_method | default(0) }}
eSAWA_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
eSAWA_SignalOpenFilterMethod={{  signal_open_filter | default(1) }}
eSAWA_SignalOpenLevel={{ signal_open_level | default(0) }}
eSAWA_SignalOpenMethod={{ signal_open_method | default(0) }}
eSAWA_TickFilterMethod={{ tick_filter_method | default(1) }}
