SAWA_Indi_SAWA_CCIPeriod={{ (cci_period | default(0) | int) }}
SAWA_Indi_SAWA_MAPeriod={{ (ma_period | default(0) | int) }}
SAWA_Indi_SAWA_RSIPeriod={{ (rsi_period | default(0) | int) }}
SAWA_Indi_SAWA_Shift,1=0
SAWA_Indi_SAWA_Shift,2=1
SAWA_Indi_SAWA_Shift,3=3
SAWA_Indi_SAWA_Shift,F=1
SAWA_Indi_SAWA_Shift={{ shift | default(0) }}
SAWA_LotSize={{ lot_size | default(0) }}
SAWA_PriceStopMethod=0
SAWA_SignalOpenFilterMethod=1
SAWA_SignalOpenLevel={{ (signal_open_level | default(0) | replace("(float)", "") | float) }}
SAWA_TickFilterMethod=1
